<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body id='dark'>
    <div class="container">
      <button id="back">Back</button>


      <div id="color-contrast-tool">
        <div id="contrastResult" style="margin-top: 1em;">      

        </div>
      </div>
    </div>
  </body>
</html>

<script type="module">

  document.getElementById('back').onclick = () => {
    parent.postMessage({ pluginMessage: { type: 'BACK' } }, '*')
  }
  window.onmessage = (event) => {
    const msg = event.data.pluginMessage;
    if (!msg || msg.type !== 'RES_CONSTRAST') return;
    const { frameColor, textColor, contrast, levels} = msg;
    const resultDiv = document.getElementById('contrastResult');
    resultDiv.innerHTML = `
      <div class="contrast-flex-row">
        <div style="text-align:center">
          <div class="contrast-color-swatch" style="background: ${frameColor};"></div>
          <div class="contrast-color-code">${frameColor.toUpperCase()}</div>
        </div>
        <div style="text-align:center">
          <div class="contrast-color-swatch" style="background: ${textColor};"></div>
          <div class="contrast-color-code">${textColor.toUpperCase()}</div>
        </div>
      </div>
      <div class="contrast-ratio">Contrast Ratio: <b>${contrast.toFixed(2)}:1</b></div>
      <div style="margin-top: 1em;">
        <table style="border-collapse: collapse;">
          <tr>
            <th></th>
            <th class='contrast-table-cell-padding'>AA</th>
            <th class='contrast-table-cell-padding'>AAA</th>
          </tr>
          <tr>
            <td class='contrast-table-row-label'>Large Text</td>
            <td style='text-align:center;'>${levels.AA_large ? '✅' : '❌'}</td>
            <td style='text-align:center;'>${levels.AAA_large ? '✅' : '❌'}</td>
            <td></td>
          </tr>
          <tr>
            <td class='contrast-table-row-label'>Small Text</td>
            <td style='text-align:center;'>${levels.AA_small ? '✅' : '❌'}</td>
            <td style='text-align:center;'>${levels.AAA_small ? '✅' : '❌'}</td>
            <td></td>
          </tr>
          <tr>
            <td class='contrast-table-row-label'>AA</td>
            <td style='text-align:center;'>3:1</td>
            <td style='text-align:center;'>4.5:1</td>
            <td></td>
          </tr>
          <tr>
            <td class='contrast-table-row-label'>AAA</td>
            <td style='text-align:center;'>4.5:1</td>
            <td style='text-align:center;'>7:1</td>
            <td></td>
          </tr>
        </table>
        <div class="contrast-table-note">Large text: 18pt+ or 14pt+ bold</div>
      </div>
    `;
  };

</script>

