<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body id='dark'>
    <div class="container">
      <button id="back">Back</button>

      <div id="color-contrast-tool">
        <div id="color-display"></div>
        <div id="contrastResult" style="margin-top: 1em;">      
            
        </div>
        <button id="generate"> Generate</button>
      </div>
    </div>
  </body>
</html>

<script type="module">
  let resultDiv = document.getElementById('color-display');
  let loadingDiv = document.getElementById('generate');
  let staticUrl = '';
  
  document.getElementById('back').onclick = () => {
    parent.postMessage({ pluginMessage: { type: 'BACK' } }, '*')
  }
  document.getElementById('generate').onclick = () => {
    fetchTheColors();
  }

  function hasAtLeastFourHexColors(input) {
    const hexColorRegex = /#([A-Fa-f0-9]{6})/g;
    const matches = input.match(hexColorRegex);
    return matches && matches.length >= 4;
  }

  function fetchTheColors(){
    try{
      loadingScreen();

      if(!vefiryTheUrl(staticUrl)) return;

      const response = fetch(
        staticUrl,
        {
          method: 'GET',
          headers: { "Content-Type": "application/json" },
        })
        .then((res) => { return res.json();})
        .then((data) => {

          const colors = data.colors;

          resultDiv.innerHTML = hasAtLeastFourHexColors(colors)? parseColorArray(colors): 'Something wrong, try again in few seconds'

        }).finally(()=>{
          loadingDiv.innerHTML = 'Generate';
        });
    }catch(e){
      console.log("Error")
    }
  }

  function parseColorArray(input) {
    try {
      const hexRegex = /#([A-Fa-f0-9]{6})/g;
      const matches = input.match(hexRegex);
      let display_data = ``;
      matches.forEach((item, index)=>{
        display_data += `<button id='display-area-${index}' title='${item}' style=" background-color: ${item}; width: 100%; height: 4rem; margin-bottom: 1rem"></button>`;
      });
      
        // Add event listeners after the HTML is inserted
      setTimeout(() => {
        matches.forEach((item, index) => {
          const button = document.getElementById(`display-area-${index}`);
          if (button) {
            button.addEventListener('click', () => buttonOnClick(`display-area-${index}`));
          }
        });
      }, 0);

      return display_data;
    } catch (err) {
      console.error("Failed to parse input:", err.message);
      return [];
    }
  }
  function loadingScreen(){
   
    loadingDiv.innerHTML= `<span class="loader"></span> Generate`;
  }

  function vefiryTheUrl(url){
    const regex = /^https:\/\/.*api\/proxy/;
    return regex.test(url);
  }

  function buttonOnClick(id){
    const button = document.getElementById(id);
    if(button !== null && button !== undefined){
      const frameColor = button.title;
      parent.postMessage({ pluginMessage: { type: 'NOTIFY', frameColor } }, '*')
    }
  }

  window.onmessage = (event) => {
    const msg = event.data.pluginMessage;
    if (!msg || msg.type !== 'URL') return;
    const { url} = msg;
    staticUrl = vefiryTheUrl(url)? url: '';
    fetchTheColors();
  }
</script>

